@import '../../styles/_variables';

.dis {
    .pic-tit {
        width: 42%;
        margin: 5% auto;
        text-align: center;

        img {
            width: 100%;
            margin: auto;
            vertical-align: middle;
            border: 0;
        }

        @media screen and (max-width: $breakpoint-large) {
            width: auto;
        }
    }

    .family-js {
        width: 80%;
        margin: 0 auto 2%;
        background-size: 100% 100%;
        position: relative;
        .f-bg {
            width: 100%;
        }

        .details {
            .clearfix::before {
                display: table;
                content: ' ';
            }

            overflow: hidden;
            .lf-cont {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;

                .left {
                    width: 65.5%;
                    height: 100%;
                    float: left;
                    position: relative;

                    img {
                        transition:
                            width 0.3s,
                            left 0.3s,
                            top 0.3s;
                        position: absolute;
                    }

                    &.index-0 {
                        .dj-img0 {
                            width: 45%;
                            left: 31%;
                            top: 30%;
                        }
                        .dj-img1 {
                            width: 27%;
                            left: 63%;
                            top: 17%;
                        }
                        .dj-img2 {
                            width: 27%;
                            left: 10%;
                            top: 19%;
                        }
                    }
                    &.index-1 {
                        .dj-img0 {
                            width: 27%;
                            left: 10%;
                            top: 19%;
                        }
                        .dj-img1 {
                            width: 45%;
                            left: 31%;
                            top: 30%;
                        }
                        .dj-img2 {
                            width: 27%;
                            left: 63%;
                            top: 17%;
                        }
                    }
                    &.index-2 {
                        .dj-img0 {
                            width: 27%;
                            left: 63%;
                            top: 17%;
                        }
                        .dj-img1 {
                            width: 27%;
                            left: 10%;
                            top: 19%;
                        }
                        .dj-img2 {
                            width: 45%;
                            left: 31%;
                            top: 30%;
                        }
                    }
                }

                .right {
                    width: 34.5%;
                    height: 82%;
                    float: left;
                    box-sizing: border-box;
                    padding-bottom: 2%;
                    position: relative;
                    .r-box {
                        opacity: 0;
                        width: 85%;
                        position: absolute;
                        left: 54%;
                        top: 27%;
                        transform: translateX(-50%);
                        transition: opacity 0.3s;

                        &.active {
                            opacity: 1;
                        }

                        .tit {
                            font-size: 18px;
                            font-weight: bold;
                            span {
                                font-weight: normal;
                                font-size: 15px;
                            }
                        }

                        .ts {
                            font-size: 14px;
                            margin: 10px 0;
                        }

                        .tst {
                            font-weight: bold;
                            i {
                                font-weight: normal;
                                display: inline-block;
                                width: 80%;
                                vertical-align: top;
                            }
                        }
                    }
                }
            }

            .n-ps {
                position: relative;
                z-index: 10;
                width: 100px;
                margin: 5% 0 0 50%;

                .previous {
                    cursor: pointer;
                    display: inline-block;
                    width: 35px;
                    height: 35px;
                    background: url('https://www.aion.com.cn/web/pc/images/d_car4l.png') no-repeat;
                    background-size: 100% auto;
                    margin-right: 20px;
                }

                .next {
                    cursor: pointer;
                    display: inline-block;
                    width: 35px;
                    height: 35px;
                    background: url('https://www.aion.com.cn/web/pc/images/d_car4r.png') no-repeat;
                    background-size: 100% auto;
                }

                span {
                    transition: opacity 0.3s;
                    opacity: 0.5;
                    &:hover {
                        opacity: 1;
                    }
                }
            }

            .code-box {
                height: 23%;
                position: absolute;
                bottom: -6.9%;
                right: 7%;
                border-right: 1px solid #f3f3f3;
            }
        }

        @media screen and (max-width: $breakpoint-large) {
            width: 90%;

            .details {
                .lf-cont {
                    .left {
                        width: 100%;
                        height: 45%;
                    }
                    .right {
                        width: 100%;
                        height: 55%;
                        .r-box {
                            width: 90%;
                            left: 50%;
                            top: 14%;
                        }
                    }
                }

                .n-ps {
                    position: absolute;
                    margin: 0;
                    top: calc(45% + 12px);
                    right: 0;
                }

                .code-box {
                    display: none;
                }
            }
        }
    }

    .emoticon {
        margin: 0 auto;
        width: 80%;
        margin-bottom: 4%;
        display: flex;
        justify-content: space-between;

        .left-pic {
            width: 85%;
            float: left;
            text-align: right;
            .bqb-pic {
                width: 90%;
                float: right;
                display: none;

                &.active {
                    display: block;
                }
            }
        }
        .right-pic {
            width: 10%;
            font-size: 12px;
            border: 1px solid #f3f3f3;
            border-radius: 5px;
            text-align: center;
            position: relative;
            margin-top: 1%;

            img {
                width: 80%;
                margin: 15px 0 10px 0;
            }
            p {
                margin: 0 0 10px;
            }
        }

        @media screen and (max-width: $breakpoint-large) {
            width: 90%;
            display: block;
            .left-pic {
                width: auto;
                float: none;

                .bqb-pic {
                    width: 100%;
                    float: none;
                }
            }

            .right-pic {
                width: 30%;
                margin: 36px auto;
            }
        }
    }
}
