.s3 {
    position: relative;

    .s3-container {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .s3-image-item {
            height: 100%;
            overflow: hidden;
            transition: all 1s ease;
            background-size: auto 100%;
            background-repeat: no-repeat;
            background-position: center;
            flex: 2;

            &:hover {
                flex: 3;
                background-size: cover;
            }

            &:nth-child(1) {
                background-image: url('https://www.aion.com.cn/web/pc/images/website-science/gep-1.jpg');
            }

            &:nth-child(2) {
                background-image: url('https://www.aion.com.cn/web/pc/images/website-science/gep-2.jpg');
            }

            &:nth-child(3) {
                background-image: url('https://www.aion.com.cn/web/pc/images/website-science/gep-3.jpg');
            }
        }
    }
}
