.group-sections {
    position: relative;

    .b-pic {
        width: 100%;
        vertical-align: middle;
        border: 0;
    }

    .list-box {
        width: 70%;
        min-width: 900px;
        height: 60%;
        position: absolute;
        left: 51.5%;
        top: 17%;
        transform: translateX(-50%);

        .week-on {
            display: block !important;
            float: left;
        }

        .cont {
            height: 104%;
            display: none;

            .left {
                width: 60%;
                background: rgba(254, 254, 254, 0.9);
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                box-sizing: border-box;
                padding: 4rem 6.6rem 0;
                float: left;
                height: 100%;

                .txt {
                    font-size: 2.4rem;
                    font-weight: bold;
                    padding-left: 2rem;
                    position: relative;
                    margin: 0;

                    &::after {
                        content: '';
                        width: 0.5rem;
                        height: 2.5rem;
                        background: #00a5b8;
                        position: absolute;
                        left: 0;
                        top: 15%;
                    }
                }

                .dis {
                    margin: 4rem 0 0;
                    line-height: 2.8rem;
                    color: #888;
                    font-size: 2rem;
                }
            }

            .right {
                width: 37%;
                background: #fff;
                overflow: hidden;
                border-top-right-radius: 10px;
                -webkit-border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                -webkit-border-bottom-right-radius: 10px;
                float: left;
                height: 100%;

                .u-logo {
                    width: 100%;
                    vertical-align: middle;
                    border: 0;
                }
            }
        }

        .u-list {
            margin-left: 5%;
            margin-bottom: 0;
            margin-top: 0;
            padding-left: 0;

            li {
                cursor: pointer;
                text-align: center;
                width: 125px;
                height: 40px;
                line-height: 40px;
                color: #fff;
                font-size: 1.6rem;
                background: url('https://www.aion.com.cn/web/pc/images/li-bg.png') no-repeat;
                background-size: 100% 100%;
                float: left;
                margin-right: 20px;
                list-style: none;
            }

            .on {
                background: url('https://www.aion.com.cn/web/pc/images/on-li-bg.png') no-repeat;
                background-size: 100% 100%;
                color: #333;
            }

            .clearfix::before {
                display: table;
                content: ' ';
            }

            .clearfix::after {
                display: table;
                content: ' ';

                visibility: hidden;
                font-size: 0;
                clear: both;
                height: 0;
            }
        }
    }
}

.event-pic {
    width: 50%;
    margin: 0 auto;
    margin-top: 80px;
    img {
        width: 100%;
    }
}

.t-ctn {
    width: 90%;
    height: 450px;
    margin: 0 auto 4%;
    overflow: hidden;
    margin-top: 30px;
}

.swiper-container {
    overflow: initial;
    padding-top: 40px;
}

.swiper-container {
    margin: 0 auto;
    position: relative;
    list-style: none;
    z-index: 1;
}

.swiper-container-free-mode > .swiper-wrapper {
    transition-timing-function: ease-out;
    margin: 0 auto;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-slide {
    width: auto;
    cursor: pointer;
    border-top: 1px dashed #00a5b8;
    position: relative;
    transition: width 0.3s;
    overflow: inherit;
}

.swiper-slide {
    flex-shrink: 0;
    height: 100%;
}

.date-box {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    top: -35px;

    p {
        margin: 0 0 10px;
    }
}

.date-box .date {
    margin-bottom: 7px;
}

.date-box .dot {
    margin: 0 auto;
    width: 12px;
    height: 12px;
    background: #fff;
    border: 1px solid #00a5b8;
    border-radius: 100%;
}

.swiper-slide .cont {
    width: 95%;
    height: 380px;
    margin: 9% auto;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    position: relative;
    top: 0;
    transition: height 0.3s, top 0.3s;
}

.swiper-slide .cont .img-box {
    width: 100%;
    height: 150px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
}

.swiper-slide .cont .txt {
    margin: 0 auto;
    width: 90%;
    box-sizing: border-box;
    padding-top: 10px;
    transition: font-size 0.3s;
    height: 230px;
    font-size: 14px;
}

.swiper-slide:hover {
    width: 330px !important;
}

.swiper-slide:hover .date-box .date {
    position: relative;
    top: -10px;
    font-size: 20px;
    z-index: 9;
}

.swiper-slide:hover .date-box .dot {
    position: relative;
    top: -10px;
    z-index: 9;
    width: 22px;
    height: 22px;
    background: #00a5b8;
}

.swiper-slide:hover .cont {
    height: 420px;
    top: -45px;
}
