.group-sections {
    position: relative;

    .b-pic {
        width: 100%;
        vertical-align: middle;
        border: 0;
    }

    .list-box {
        width: 70%;
        min-width: 900px;
        height: 60%;
        position: absolute;
        left: 51.5%;
        top: 17%;
        transform: translateX(-50%);

        .week-on {
            display: block !important;
            float: left;
        }

        .cont {
            height: 104%;
            display: none;

            .left {
                width: 60%;
                background: rgba(254, 254, 254, 0.9);
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                box-sizing: border-box;
                padding: 4rem 6.6rem 0;
                float: left;
                height: 100%;

                .txt {
                    font-size: 2.4rem;
                    font-weight: bold;
                    padding-left: 2rem;
                    position: relative;
                    margin: 0;

                    &::after {
                        content: '';
                        width: 0.5rem;
                        height: 2.5rem;
                        background: #00a5b8;
                        position: absolute;
                        left: 0;
                        top: 15%;
                    }
                }

                .dis {
                    margin: 4rem 0 0;
                    line-height: 2.8rem;
                    color: #888;
                    font-size: 2rem;
                }
            }

            .right {
                width: 37%;
                background: #fff;
                overflow: hidden;
                border-top-right-radius: 10px;
                -webkit-border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                -webkit-border-bottom-right-radius: 10px;
                float: left;
                height: 100%;

                .u-logo {
                    width: 100%;
                    vertical-align: middle;
                    border: 0;
                }
            }
        }

        .u-list {
            margin-left: 5%;
            margin-bottom: 0;
            margin-top: 0;
            padding-left: 0;

            li {
                cursor: pointer;
                text-align: center;
                width: 125px;
                height: 40px;
                line-height: 40px;
                color: #fff;
                font-size: 1.6rem;
                background: url('https://www.aion.com.cn/web/pc/images/li-bg.png') no-repeat;
                background-size: 100% 100%;
                float: left;
                margin-right: 20px;
                list-style: none;
            }

            .on {
                background: url('https://www.aion.com.cn/web/pc/images/on-li-bg.png') no-repeat;
                background-size: 100% 100%;
                color: #333;
            }

            .clearfix::before {
                display: table;
                content: ' ';
            }

            .clearfix::after {
                display: table;
                content: ' ';

                visibility: hidden;
                font-size: 0;
                clear: both;
                height: 0;
            }
        }
    }
}

.event-pic {
    width: 50%;
    margin: 0 auto;
    margin-top: 80px;
    img {
        width: 100%;
    }
}
