.aion-common-footer {
    padding: 0 40px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.5px solid #dcdde0;
}

.aion-common-footer .footer-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 37px 0;
    font-size: 16px;
    color: #303745;
    letter-spacing: 0;
    line-height: 1.33;
}

.aion-common-footer .footer-left .service-left-phone {
    font-family: PingFangSC-Medium;
    margin-bottom: 14px;
    font-weight: normal;
}

.aion-common-footer .footer-left .service-left-phone i {
    margin: 0 30px;
}

.aion-common-footer .footer-left .service-left-phone a {
    color: #303745;
    text-decoration: underline;
}

.aion-common-footer .footer-left .aion-common-copyright,
.aion-common-footer .footer-left .aion-common-copyright a {
    font-family: PingFangSC-Light;
    font-weight: 300;
    font-size: 14px;
    color: #818B94;
    letter-spacing: 0;
    line-height: 24px;
}

.aion-common-footer .footer-right {
    display: flex;
    position: relative;
}

.aion-common-footer .flex-box-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    position: relative;
}

.aion-common-footer .flex-box-column>a img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    cursor: pointer;
}

.aion-common-footer .flex-box-column>span {
    font-family: PingFangSC-Light;
    font-weight: 300;
    font-size: 12px;
    color: #818B94;
    letter-spacing: 0;
    text-align: center;
}