@import '../styles/_variables';

.color-slider-base {
    position: relative;

    #color-placeholder {
        opacity: 0;
        position: relative;
        pointer-events: none;
        display: block;
    }

    > img {
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        opacity: 0;
        transition: opacity 0.3s linear;
        pointer-events: none;

        &.active {
            opacity: 1;
            transition: none;
        }
    }
}
