@import '../styles/variables';

.opacity-slider {
    position: relative;

    #placeholder {
        opacity: 0;
        position: relative;
        pointer-events: none;
        display: block;
    }

    > img {
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        opacity: 0;
        transition: opacity 0.2s linear;
        pointer-events: none;

        &.active {
            opacity: 1;
            pointer-events: auto;
            transition: none;
        }
    }

    .slider-pagination {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        width: 75%;
        display: flex;
        flex-wrap: nowrap;
        text-align: center;
        justify-content: center;
        transition: 0.2s opacity;
        z-index: 10;
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        gap: 52px;

        &__item {
            opacity: 0.6;
            border-top: 1px solid #fff;
            padding: 8px;
            flex: 1;
            max-width: 240px;
            text-align: left;
            cursor: pointer;

            &--active {
                opacity: 1;
            }
        }

        @media screen and (max-width: $breakpoint-small) {
            width: 90%;
            gap: 5%;
            font-size: 14px;
        }
    }
}
