.section-slide {
    width: 100%;
    height: auto;
    opacity: 1;
    position: relative;
    transition-duration: 0ms;
    flex-shrink: 0;

    img {
        width: 100%;
        height: auto;
        vertical-align: top;
    }
}
