@import '../../styles/variables';

.rlzy-box {
    width: 74%;
    margin: 0 auto;
    margin-bottom: 64px;

    @media screen and (max-width: $breakpoint-large) {
        width: auto;
        margin: 0 18px;
    }

    .join-title {
        margin: 0 auto;
        padding: 56px 0 22px 0;
        font-size: 30px;
        color: #14223e;
    }

    &__tit-img {
        text-align: center;
        margin: 6.5% 0 4% 0;

        img {
            width: 50%;
            vertical-align: middle;
            border: 0;
        }
    }

    &__dis {
        text-indent: 2em;
        line-height: 30px;
        font-size: 17px;
        margin: 0 0 10px;
        @media screen and (max-width: $breakpoint-large) {
            font-size: 1.92rem;
            line-height: 3.82rem;
        }
    }

    &__zplc-box {
        text-align: center;
        margin: 6% 0;
        position: relative;

        @media screen and (max-width: $breakpoint-large) {
            margin: 12% 0;
        }

        .list {
            width: 90%;
            margin: 0 auto;
            list-style: none;
            padding: 0;

            li {
                cursor: pointer;
                float: left;
                width: 70px;
                height: 70px;
                background: #fff;
                color: #333;
                font-size: 19px;
                margin-right: 16.7%;
                border: 1px solid #0daabc;
                padding: 0.7%;
                border-radius: 100%;
                box-sizing: border-box;

                &:nth-child(1) {
                    position: absolute;
                    left: 5%;
                    top: -30px;
                }

                &:nth-child(2) {
                    position: absolute;
                    left: 25%;
                    top: -30px;
                }

                &:nth-child(3) {
                    position: absolute;
                    left: 47%;
                    top: -30px;
                }

                &:nth-child(4) {
                    position: absolute;
                    left: 70%;
                    top: -30px;
                }

                &:nth-child(5) {
                    position: absolute;
                    left: 90%;
                    top: -30px;
                }

                &.on {
                    width: 85px;
                    height: 85px;
                    background: #00a5b8;
                    color: #fff;
                    font-size: 21px;
                    padding: 1%;
                    top: -40px !important;
                }

                @media screen and (max-width: $breakpoint-large) {
                    width: 50px;
                    height: 50px;
                    font-size: 2.2rem;
                    top: -24px !important;

                    &:nth-child(1) {
                        left: 0;
                    }

                    &:nth-child(2) {
                        left: 20%;
                    }

                    &:nth-child(3) {
                        left: 42%;
                    }

                    &:nth-child(4) {
                        left: 64%;
                    }

                    &:nth-child(5) {
                        left: 85%;
                    }

                    &.on {
                        width: 54px;
                        height: 54px;
                        top: -26px !important;
                        font-size: 2.2rem;
                    }
                }
            }
        }

        .line {
            width: 89%;
            margin: 0 auto;
            border-bottom: 1px dashed #00a5b8;
        }
    }

    &__content {
        min-height: 195px;
        width: 90%;
        margin: 0 auto;
        font-size: 17px;

        &.week-on {
            display: block !important;
        }

        @media screen and (max-width: $breakpoint-large) {
            min-height: auto;
            width: 100%;
            font-size: 1.92rem;
            line-height: 3.82rem;
        }
    }
}
