.rlzy-box {
    width: 74%;
    margin: 0 auto;
    margin-bottom: 64px;

    &__tit-img {
        text-align: center;
        margin: 6.5% 0 4% 0;

        img {
            width: 50%;
            vertical-align: middle;
            border: 0;
        }
    }

    &__dis {
        text-indent: 2em;
        line-height: 30px;
        font-size: 17px;
        margin: 0 0 10px;
    }

    &__zplc-box {
        text-align: center;
        margin: 6% 0;
        position: relative;

        .list {
            width: 90%;
            margin: 0 auto;
            list-style: none;
            padding: 0;

            li {
                cursor: pointer;
                float: left;
                width: 70px;
                height: 70px;
                background: #fff;
                color: #333;
                font-size: 19px;
                margin-right: 16.7%;
                border: 1px solid #0daabc;
                padding: 0.7%;
                border-radius: 100%;
                -webkit-border-radius: 100%;
                box-sizing: border-box;

                &.on {
                    width: 85px;
                    height: 85px;
                    background: #00a5b8;
                    color: #fff;
                    font-size: 21px;
                    padding: 1%;
                    top: -40px !important;
                }

                &:nth-child(1) {
                    position: absolute;
                    left: 5%;
                    top: -30px;
                }

                &:nth-child(2) {
                    position: absolute;
                    left: 25%;
                    top: -30px;
                }

                &:nth-child(3) {
                    position: absolute;
                    left: 47%;
                    top: -30px;
                }

                &:nth-child(4) {
                    position: absolute;
                    left: 70%;
                    top: -30px;
                }

                &:nth-child(5) {
                    position: absolute;
                    left: 90%;
                    top: -30px;
                }
            }
        }

        .line {
            width: 89%;
            margin: 0 auto;
            border-bottom: 1px dashed #00a5b8;
        }
    }

    &__content {
        min-height: 195px;
        width: 90%;
        margin: 0 auto;
        font-size: 17px;

        &.week-on {
            display: block !important;
        }
    }
}
